<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <p>Welcome to <%= titulo %></p>

    <section>
      <h2>Listado de anuncios</h2>
      <% anuncios.forEach(function(anuncio) { %>
        <article>  
          <h3>
            <%= anuncio.nombre %> - <%= anuncio.precio %> €
            <% if(anuncio.venta) { %>
              <p><strong>(VENTA)</strong></p> 
            <% } else { %>
              <p><strong>(BUSCA)</strong></p> 
            <% } %>
          </h3>
          
          <img src="/images/anuncios/<%= anuncio.foto %>" alt="<%= anuncio.nombre %>">
          <p><%= anuncio.tags %></p>
          <hr>
        </article>        
      <% }) %>  
    </section>        
  </body>
</html>
