<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>

    <% getLocales().forEach( lang => { %>
    <a href="/lang/<%= lang %>"><%= lang.toUpperCase() %></a>&nbsp;
    <% }) %> 

    <p><%= __('welcome_title') %></p>

    <section>
      <h2><%= __('list_title') %></h2>
      <% anuncios.forEach(function(anuncio) { %>
        <article>  
          <h3>
            <img src="/images/anuncios/<%= 'thumbnail-'+anuncio.foto %>" alt="thumbnail <%= anuncio.nombre %>"> <%= anuncio.nombre %> - <%= anuncio.precio %> €
            <% if(anuncio.venta) { %>
              <p><strong>(<%= __('sell') %>)</strong></p> 
            <% } else { %>
              <p><strong>(<%= __('search') %>)</strong></p> 
            <% } %>
          </h3>
          
          <img src="/images/anuncios/<%= anuncio.foto %>" alt="<%= anuncio.nombre %>">
          <p><%= anuncio.tags %></p>
          <hr>
        </article>        
      <% }) %>  
    </section>        
  </body>
</html>
